body {
	font-family: ui-sans-serif;
 }
    
 .hero { 
  background-image: url('../images/lightning.jpg');
  background-size: cover;
  background-position: center;
 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background-attachment: fixed;
  background-position: 30%;
}

.hero-excel {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  font-weight: bold;
  color: whitesmoke;
  font-size: 24px;
  line-height: 1.2;
  text-shadow: 0 0 5px rgba(0, 0, 0);
}

label {
  font-weight: bold;
}

.form-text {
  font-weight: bold;
}

h1{
	text-align: center;
	font-weight: bold;
	text-shadow: 0px 2px 2px #B3B3B3;
}

h2{
	
	text-align: center;
	font-weight: bold;
	text-shadow: 0px 2px 2px #B3B3B3;
}

h4 {
    margin: 5px;
}

h6 {
	font-weight: bold;
  }
  

  
/* input {
	width: 25%;
    margin-left: auto;
    margin-right: auto;
  } */
  
  
  /* #search-results {
    width: 22 rem;
  } */
  
    
  /*  */

/* .uv-dangerLow{
    background-color: green;
    border-radius: px;
    color: white;
}


.uv-dangerMedium{
    background-color: orange;
    border-radius: px;
    color: white;
}


.uv-dangerHigh{
    background-color: orangered;
    border-radius: px;
    color: white;
} */